<a href="https://colab.research.google.com/github/valentijnbongers/py_basics_variables/blob/main/2_variables_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1. Create a variable called break and assign it a value 5. See what happens and find out the reason behind the behavior that you see**

In [1]:
break=5

SyntaxError: invalid syntax (<ipython-input-1-7abc8ab243ff>, line 1)

**2. Create two variables. One to store your birth year and another one to store current year. Now calculate your age using these two variables**

In [2]:
birth_year=1982
current_year=2019
age=current_year-birth_year
age

37

**3. Store your first, middle and last name in three different variables and then print your full name using these variables**

In [3]:
first="Dhaval"
middle="Rambhai"
last="Patel"
print("My full name is: " + first + " " + middle + " " + last)

My full name is: Dhaval Rambhai Patel

**4. Answer which of these are invalid variable names: "\_nation, 1record, record1, record\_one, record-one, record^one, continue"**

1record, record-one, record^one, continue

## Numbers

# Exercise
# 1. You have a football field that is 92 meter long and 48.8 meter wide. Find out total
#    area using python and print it

In [4]:
length=92
width=48.8
area=length*width
print("area of football field:",area) # Ans: 4489.599999999999

area of football field: 4489.599999999999

# 2. You bought 9 packets of potato chips from a store. Each packet costs 1.49 dollar
#    and you gave shopkeeper 20 dollar.
#    Find out using python, how many dollars is the shopkeeper going to give you back?

In [5]:
num_packets=9
cost_per_packet=1.49
total_cost=num_packets*cost_per_packet
money_paid=20
cash_back=money_paid-total_cost
print("Cash back:",cash_back) # Ans: 6.59

Cash back: 6.59

# 3. You want to replace tiles in your bathroom which is exactly square and 5.5 feet
#    is its length. If tiles cost 500 rs per square feet, how much will be the total
#    cost to replace all tiles. Calculate and print the cost using python
#    Hint: Use power operator (**) to find area of a square

In [6]:
length=5.5
area=length**2 # area of square is length power 2
cost=area*500
print("total cost for bathroom tiles replacement:",cost) # Ans: 15125.0

total cost for bathroom tiles replacement: 15125.0

# 4. Print binary representation of number 17

In [7]:
num=17
print('Binary of number 17 is:',format(num,'b')) # Ans: 10001

Binary of number 17 is: 10001

# String

# 1. Create 3 variables to store street, city and country, now create address variable to
# store entire address. Use two ways of creating this variable, one using + operator and the other using f-string.
# Now Print the address in such a way that the street, city and country prints in a separate line

In [8]:
street = "13 patli gali"
city = "New Delhi"
country = "India"
address = street + '\n' + city + '\n' + country
print("Address using + operator:",address)
address = f'{street}\n{city}\n{country}'
print("Address using f-string:",address)

Address using + operator: 13 patli gali
New Delhi
India
Address using f-string: 13 patli gali
New Delhi
India

# 2. Create a variable to store the string "Earth revolves around the sun"
#     1. Print "revolves" using slice operator
#     2. Print "sun" using negative index

In [9]:
s='Earth revolves around the sun'
print(s[6:14])
print(s[-3:])

revolves
sun

# 3. Create two variables to store how many fruits and vegetables you eat in a day.
# Now Print "I eat x veggies and y fruits daily" where x and y presents vegetables and fruits that you eat everyday.
# Use python f string for this.

In [10]:
num_fruits=10
num_veggies=5
print(f"I eat {num_veggies} veggies and {num_fruits} daily")

I eat 5 veggies and 10 daily

# 4. I have a string variable called s='maine 200 banana khaye'. This of course is a
# wrong statement, the correct statement is 'maine 10 samosa khaye'.
# Replace incorrect words in original strong with new ones and print the new string.
# Also try to do this in one line.

In [12]:
s='maine 200 banana khaye'
s=s.replace('banana','samosa')
s=s.replace('200','10')
print("Using two line replace:",s)

s='maine 200 banana khaye'
s=s.replace('banana','samosa').replace('200','10')
print("Using single line:",s)

Using two line replace: maine 10 samosa khaye
Using single line: maine 10 samosa khaye

# Lists

Let us say your expense for every month are listed below,
1. January -  2200
2. February - 2350
3. March - 2600
4. April - 2130
5. May - 2190

Create a list to store these monthly expenses and using that find out,

1. In Feb, how many dollars you spent extra compare to January?
2. Find out your total expense in first quarter (first three months) of the year.
3. Find out if you spent exactly 2000 dollars in any month
4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list
5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [13]:
exp = [2200,2350,2600,2130,2190]

#### 1. In Feb, how many dollars you spent extra compare to January?

In [14]:
print("In feb this much extra was spent compared to jan:",exp[1]-exp[0]) # 150

In feb this much extra was spent compared to jan: 150

#### # 2. Find out your total expense in first quarter (first three months) of the year

In [15]:
print("Expense for first quarter:",exp[0]+exp[1]+exp[2]) # 7150

Expense for first quarter: 7150

#### 3. Find out if you spent exactly 2000 dollars in any month

In [16]:
print("Did I spent 2000$ in any month? ", 2000 in exp) # False

Did I spent 2000$ in any month?  False

#### 4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [17]:
exp.append(1980)
print("Expenses at the end of June:",exp) # [2200, 2350, 2600, 2130, 2190, 1980]

Expenses at the end of June: [2200, 2350, 2600, 2130, 2190, 1980]

#### 5. You returned an item that you bought in a month of April and
#### got a refund of 200$. Make a correction to your monthly expense list
#### based on this

In [18]:
exp[3] = exp[3] - 200
print("Expenses after 200$ return in April:",exp) # [2200, 2350, 2600, 1930, 2190, 1980]

Expenses after 200$ return in April: [2200, 2350, 2600, 1930, 2190, 1980]

In [19]:
# 2. You have a list of your favourite marvel super heros
# heros=['spider man','thor','hulk','iron man','captain america']
# Using this list

heros=['spider man','thor','hulk','iron man','captain america']
# 1. Length of the list
print(len(heros))
# 2. Add 'black panther' at the end of this list
heros.append('black panther')
print(heros)
# 3. You realize that you need to add 'black panther' after 'hulk',
# so remove it from the list first and then add it after 'hulk'
heros.remove('black panther')
heros.insert(3,'black panther')
print(heros)
# 4. Now you don't like thor and hulk because they get angry easily :)
#    So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
#    Do that with one line of code.
heros[1:3]=['doctor strange']
print(heros)
# 5. Sort the list in alphabetical order
heros.sort()
print(heros)

5
['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']
['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']
['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']
['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']